<div id="Container">
  <h2>Tags</h2>

  <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
    <mat-chip *ngFor="let tag of tags" [style.background-color]="tag.cor">
      <span>{{tag.nome}}</span>
      <button matChipRemove>
        <mat-icon (click)="alterar(tag)">edit</mat-icon>
      </button>
      <button matChipRemove>
        <mat-icon (click)="deletar(tag)">cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>

  <button (click)="novo()">Nova Tag</button>

  <div class="form" *ngIf="tag">
    <!-- <input type="text" [(ngModel)]="tag.nome"> -->
    <!-- <input type="text" [(ngModel)]="tag.cor"> -->
    <!-- <input type="color" name="cor"> -->
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome da Tag" [(ngModel)]="tag.nome">
    </mat-form-field>
    <button (click)="salvar()">Salvar</button>
  </div>

</div>
