<div class="sobre-content">
  KanBan criado para matéria eletiva DESENVOLVIMENTO FRONTEND COM ANGULAR do 7º semestres do curso de Ciência da Computação lecionada pelo professor Fábio Henrique Abenza Freire.

  <div style="display: flex;">

    <mat-card class="integrante_card">
      <mat-card-header>
       <div mat-card-avatar class="header-image-igor"></div>
        <mat-card-title>Igor Miyamoto</mat-card-title>
        <mat-card-subtitle>BCC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <a href="https://github.com/IgorKenzo" target="_blank" class="sem-cor-de-link">
          <button mat-button>
            <img src="../../../assets/githubIcon.png" style="width: 50px;">
              GitHub
          </button>
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="integrante_card">
      <mat-card-header>
        <div mat-card-avatar class="header-image-claro"></div>
        <mat-card-title>Lucas Claro</mat-card-title>
        <mat-card-subtitle>BCC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <a href="https://github.com/LucasClaro" target="_blank" class="sem-cor-de-link">
          <button mat-button>
            <img src="../../../assets/githubIcon.png" style="width: 50px;">
            GitHub
          </button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



