<div *ngIf="colunas" style="display: flex;">

    

    <mat-list style="display: flex; flex-direction: column; flex: 1; border: 1px solid; border-color: black;" *ngFor="let c of colunas">
        <div mat-subheader style="color: black;">{{c.nome}}</div>

        <mat-list-item *ngFor="let t of c.tarefas">
            
            <div mat-line >
                <mat-card>
                    <mat-card-title> {{ t.nome }}</mat-card-title>
                </mat-card>
            </div>
            
        </mat-list-item>
    
    </mat-list>



    
</div>

