.CabecalhoColuna {
  font-size: larger;
  padding-left: 10px;
}

.column_flex {
  display: flex;
  align-items: flex-start;
}

.column_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 33%;
  min-width: 15%;

  background-color: #404040;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.cardTarefa {
  margin-top: 5px;
  margin-top: 5px;
  border-radius: 5px;
  min-height: 30px;
  font-size: medium;
  background-color: #303030;
  /* position: relative; */
}

.listaTag {
  overflow-x: scroll;
  white-space: nowrap;

  margin-top: 5px;
  margin-left: 5px;
}

.listaTag::-webkit-scrollbar {
  display: none;
}

.listaTag::-moz-scrollbar {
  display: none;
}

.marcadorTag {
  width: 50px;
  height: 12px;
  border-radius: 10px;
  margin-right: 5px;

  display: inline-block;
}

.tituloIconsCard {
  margin: 5px;
  display: flex;
}

.spanTipo1 {
  flex: 1;
  line-height: 40px;
}

.btnAddNew {
  margin-top: 5px;
}

.formNovaTarefa {
  margin-top: 5px;
}

.formNovaTarefa mat-form-field {
  width: 90%;
}

.addNovatagTarefaNova {
  position: relative;
  top: 8px;
  flex: 1;
}

.linhaBtns {
  display: flex;

  margin-top: 5px;
}

.btnSalvar {
  margin-right: 5px;
  flex: 5;
}

.btnCancelar {
  flex: 1;
}

.meuBtnMenu {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  text-align: left;
  border-radius: 200px;
}
