<div *ngIf="colunas" class="column_flex">


    <mat-list class="column_list" *ngFor="let c of colunas">
        <div mat-subheader>{{c.nome}}</div>
        
        <button mat-flat-button color="accent" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>

        <!-- <mat-list-item *ngFor="let t of c.tarefas"> -->
            
            <!-- <div mat-line > -->
                <mat-card style="margin: 10px;" *ngFor="let t of c.tarefas">
                    <mat-card-title> {{ t.nome }}</mat-card-title>
                    <mat-card-subtitle *ngFor="let tag of t.tags"> {{ tag.nome }} </mat-card-subtitle>
                    <mat-card-actions>

                        <button mat-button color="accent">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-button color="warn" (click)="deletarTarefa(c, t)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>dialpad</mat-icon>
                              <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>notifications_off</mat-icon>
                              <span>Disable alerts</span>
                            </button>
                          </mat-menu> -->
                    </mat-card-actions>
                </mat-card>
            <!-- </div> -->
            
        <!-- </mat-list-item> -->
    
    </mat-list>



    
</div>

