.column_flex {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 64px);
  overflow-y: hidden; /*Não tá funfando...*/
}

/* max-height: 90vh;
overflow-y: scroll;
white-space: nowrap; */

.column_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 33%;
  min-width: 20%;

  background-color: #404040;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.CabecalhoColuna {
  font-size: larger;
  padding-left: 10px;
}

.cardTarefa {
  margin-top: 5px;
  margin-top: 5px;
  border-radius: 5px;
  min-height: 40px;
  font-size: medium;
  background-color: #303030;
  /* position: relative; */
}

.cdk-drag-placeholder {
  opacity: 0%;
}

.listaTag {
  overflow-x: scroll;
  white-space: nowrap;

  margin-top: 8px;
  margin-left: 5px;
}

.listaTag::-webkit-scrollbar {
  display: none;
}

.listaTag::-moz-scrollbar {
  display: none;
}

.marcadorTag {
  width: 50px;
  height: 12px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 8px;

  display: inline-block;
}

.tituloIconsCard {
  margin: 5px;
  display: flex;
}

.spanTipo8 {
  flex: 8;
  /* line-height: 40px; */
  padding-top: 5px;
  padding-bottom: 8px;
  line-height: normal;
  margin-top: 10px;
}

.divTipo1 {
  position: relative;
  flex: 1;
}

.iconeCard {
  position: absolute;
  bottom: 0;
}

.corBrancaAntiBug {
  color: white;
}

.btnAddNew {
  margin-top: 5px;
}

.formNovaTarefa {
  margin-top: 5px;
}

.formNovaTarefa mat-form-field {
  width: 90%;
}

.addNovatagTarefaNova {
  position: relative;
  top: 8px;
  flex: 1;
}

.linhaBtns {
  display: flex;

  margin-top: 5px;
}

.btnSalvar {
  margin-right: 5px;
  flex: 5;
}

.btnCancelar {
  flex: 1;
}

.meuBtnMenu {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  text-align: left;
  border-radius: 200px;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btnConcluir {
  margin: 5px;
  flex: 1;
}
